<%- include("partials/header.ejs") %>
<section>
    <div class="about container">
        <div class="book-card start">

        </div>
        <div>
            <h1>
                About Me
            </h1>
            <p>
                Welcome to <span>My Book Notes</span>! This is a personal digital library crafted to
                enhance the experience of book lovers and lifelong learners. This platform
                was born from a simple, yet profound need—to retain and revisit the rich
                insights gathered from the countless pages turned over time. As an avid reader,
                I found myself immersed in diverse worlds and theories, yet often, the finer
                details and key takeaways would fade shortly after the last page was turned.
                This challenge sparked the idea to begin cataloging my thoughts and reflections
                through detailed notes.
            </p>
            <p>
                The platform allows users to not only store and manage their book notes but also
                to sort these entries by recency, rating, and title—turning a simple collection of
                books into a well-organized repository of knowledge. Whether you're a student, a
                professional, or someone who reads for pleasure, this application aims to make your
                reading experience more fruitful and fulfilling, ensuring that the wisdom gained
                isn’t lost but preserved for future reflection and growth.
            </p>
        </div>
    </div>
</section>
<%- include("partials/footer.ejs") %>