<%- include("partials/header.ejs") %>
<section>
    <div class="contact about container">
        <div class="book-card start">

        </div>
        <div>
            <h1>
                Get In Touch
            </h1>
            <form class="create-book">
                <div>
                    Email Address<br>
                    <input type="email" name="email"/>
                </div>
                <div>
                    Message<br>
                    <textarea type="text" name="message" rows="10"></textarea>
                </div>
                <button class="nav-item">
                    Send
                </button>
            </form>
        </div>
    </div>
</section>
<%- include("partials/footer.ejs") %>